{{ define "home" }}
<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>{{.Title}}</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.3"
      integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/output.css" />
  </head>
  <body class="grid place-items-center h-full">
    <main class="max-w-3xl w-full">
      <div class="flex justify-center space-x-2">
        <a
          class="px-3 py-2 rounded-md bg-neutral-900 font-medium text-sm text-white hover:bg-neutral-800"
          href="/your-ip"
        >
          My IP
        </a>
        <a
          class="px-3 py-2 rounded-md bg-neutral-900 text-sm text-white hover:bg-neutral-800 font-poppins"
          href="/search-ip"
        >
          Search IP
        </a>
      </div>
    </main>
  </body>
</html>
{{end}}
